        body{
            margin: 0;
            padding: 40;

            }
        .center{
            text-align: center;
            padding: 35px;
            font-family: 'Questrial', sans-serif;
        }
        .cen{
            text-align: center;
            padding: 10px;
            font-family: 'Questrial', sans-serif;
        }
        h2{
            font-family: 'Questrial', sans-serif;
            margin-left: 240px;
            margin-right: 240px;

        }
        .parrafo{
            color: black;
            margin-left: 210px;
            margin-right: 210px;
            padding: 30px;
            font-size: 20px;
            text-align: justify;
        }
        footer{
            background-color:  black;
            color: #FFFFFF;
            width: 100%;
            height: 100px;
            
            
        }
        nav {
            position: fixed;
            height: 100px;
            overflow: hidden;
            top: 0;
            display: flex;
            align-items: center;
            background: #FFFFFF;
            width: 100%;

        }
        .logo {
            background: url(logo.jpg) no-repeat 15% 80%;
            background-size: contain;
            width: 900px;
            height: 85px;
            float: left;
        }
        .logos{
            width: 400px;
            height: 200px;
            padding: 50px;
        }
        .imagenes{
            width: 800px;
            height: 400px;
            padding: 40px;
        }
        .i{
            width: 600px;
            height: 400px;
            padding: 40px;
        }
        .adopcion{
            width: 280px;
            height: 300px;
        }
        .menu{
            position: absolute;
            right: 50px;
        }
        .menu a{
            color: #333;
            font-family: 'Questrial', sans-serif;
            text-decoration: none;
            font-weight: 600;
            margin-left: 10px;
            margin-right: 65px;
            transition: color 1s;
        }
        .menu a:hover{
            color: #F31407;
        }
        .menu2{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: minmax(100px auto);
            height: 300px;
            width: 780px;
            margin-left: 270px;
            padding: 10px;
        }
        .menu2 div:hover{
            background: #E52A2A;
            padding: 5px;
        }
        .menu2 div{
            background: #FFFFFF;
            margin: 50px;
            border: 5px solid #FFFFFF;
            text-align: center;
        }
        .menu2 div img{
            width: 100%;
            height: 300px;
        }
        .galeria{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: minmax(100px auto);
            height: 280px;
            width: 1200px;
            margin-left: 65px;
            padding: 10px;
        }
        .galeria div:hover{
            background: #E52A2A;
            padding: 5px;
        }
        .galeria div{
            background: #FFFFFF;
            margin: 10px;
            border: 5px solid #FFFFFF;
            text-align: center;
        }
        .galeria div img{
            width: 100%;
            height: 280px;
        }
        .container{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            height: 300px;
            grid-template-rows: minmax(100px auto);
            margin: 70px;
            margin-left: 150px;
            padding: 20px;   
        }   
        .container div{
            background: #FFFFFF;
            border: 5px solid #FFFFFF;
            text-align: center;
        }
        .container div img{
            width: 100%;
            height: 300px;
        }
        .container div:hover{
            background: #E52A2A;
            padding: 5px;
        }
        .container div a{
            text-decoration: none;
        }
        img {
            border-radius: 4px;
            width: 100%;
            height: 450px;
            display: block;
            margin-left: auto;
            margin-right: auto;

        }
        header {
            display: flex;
            width: 80%;
            height: 10vh;
            margin: auto;
            align-items: center;
            font-family: Monaco;
        }
        .btn {
            display: none;
            position: absolute;
            right: 20px;
        }
        .btn:hover > span {
            background-color: #E85860;
        }
        .btn span {
            display: block;
            margin: 6px;
            width: 40px;
            height: 3px;
            background: #333;
        }
        input[type=text], input[type=email], input[type=number],select, textarea {
            width: 70%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 9px;
            resize: vertical;
        }
        input[type=radio] {
            width: 10%;
  padding: 5px;
  border: 1px solid #ccc;
  resize: vertical;
}

input[type=password] {
  width: 70%;
  padding: 15px;
  border: 1px solid #ccc;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[type=submit],  input[type=reset]{
  background-color: #EA2923;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-left: 20px;
}

input[type=submit]:hover, input[type=reset]:hover {
  background-color: #747687;
}

.containere {
  border-radius: 5px;
  background-color: #EA2923;
  padding: 20px;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  margin-left: 70px;
}

.col-75 {
  
  width: 70%;
  margin-top: 6px;
  margin-left: 240px;
}
.col-50 {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 15px;
}
.col50{
    margin-left: 120px;
    margin: 10px;
    margin-right: 150px;
    height: 50px;
}
.fila:after {
  content: "";
  display: table;
  clear: both;
}
section{
    background: #FFFFFF;
    margin-left: 370px;
    margin-right: 370px;
}
        
        @media only screen and (max-width: 540px){
        .center{
            text-align: center;

            font-family: 'Titillium Web', sans-serif;
            padding: 35px;
            margin: 50px;
            }
        h2{
            font-family: 'Open Sans Condensed', sans-serif;
            text-align: center;
        }  
        .i{
            width: 350px;
            height: 250px;
            padding: 10px;
        }
        .imagenes{
            width: 350px;
            height: 250px;
            padding: 10px;
        } 
        .parrafo{
            background-color:  #6C7077;
            color: #F6F7F8;
            margin: 20px;
            padding: 10px;
            font-size: 15px;
            text-align: justify;
        }
        .container{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1em;
            grid-template-rows: minmax(10px auto);
            margin: 20px;
            padding: 20px;
            height: 100px;
        }
        .container div img{
            width: 100%;
            height: 100px;
        }   
        h2{
            font-family: 'Questrial', sans-serif;
            margin-left: 20px;
            text-align: left;
            margin-right: 0px;
        }
        nav {
            overflow: visible;
        }
        .menu {
            width: 100%;
            right: 0;
            top: 80px;
            background: #f1f1f1E6;
            overflow: hidden;
            max-height: 0;
        }
        .menu a{
            display: block;
            text-align: center;
            padding: 10px;
            margin: 0;
        }
        .menu2{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: minmax(100px auto);
            height: 230px;
            width: 480px;
            margin-left: 5px;
            padding: 5px;
        }
        .menu2 div img{
            width: 100%;
            height: 230px;
        }
        .menu2 div{
            margin: 50px;
        }
        .btn {
            display: block;
            cursor: pointer;
        }
        .show {
            max-height: 500px;
        }
        section{
        margin-left: 20px;
        margin-right: 20px;
        }
        .col-75 {
            margin-left: 180px;
        }
        .col-25 {
            margin-left: 40px;
        }
        .col50{
            margin-left: 30px;
            margin-right: 60px;
        }
        

    }
        